{% extends 'base.html' %}

{% block page-main %}
 <div class="article-list">
            {% for foo in article_list %}
                <div class="article">
                    <p class="article-title"><a href="{{ foo.user.username }}/article/{{ foo.pk }}">{{ foo.title }}</a></p>
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object author-img img-circle"
                                     src="/media/{{ foo.user.avatar }}" alt="头像">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>{{ foo.desc }}</p>
                        </div>
                    </div>
                    <div class="article-footer">
                        <span><a href="/blog/{{ foo.user.username }}">{{ foo.user.username }}</a></span>发布于
                        <span>{{ foo.create_time | date:"Y-m-d H:i:s" }}</span>
                        {#                            <span class="glyphicon glyphicon-comment">评论({{ foo.comment_set.all.count }})</span>#}
                        {#                            <span class="glyphicon glyphicon-thumbs-up">点赞({{ foo.articleupdown_set.all.count }})</span>#}
                        <i class="fa fa-comments "
                           aria-hidden="true"><span>评论({{ foo.comment_set.all.count }})</span></i>
                        <i class="fa fa-thumbs-o-up"
                           aria-hidden="true"><span>点赞({{ foo.articleupdown_set.all.count }})</span></i>
                    </div>
                    <hr color="red">
                    {# 分割线 #}
                </div>
            {% endfor %}

        </div>
{% endblock %}